form{
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 10%;
    background-color: grey;
    border-radius: 20px;
}
.texto{
    text-align: center;
    font-size: 22.532px;
    padding-top: 6.6%;
}
.acesso{
    padding-top: 0.45%;
    font-size: 31.078px;
}
.bolinhacheia{
    display: flex;
    margin-left: 47.8%;
}
.bolinhavazia{
    display: flex;
    padding-left: 0.8%;
}
.cpf{
    margin-left: 36.8% ;
    padding-top: 6%;
    height: 30px;
    display: flex;
}
.senha{
    margin-left: 36.8% ;
    height: 30px;
    display: flex;
    padding-top: 3%;
    position: relative;
}
.confirmarsenha{
    margin-left: 36.8% ;
    height: 30px;
    display: flex;
    padding-top: 3%;
    position: relative;
}
.olho{
    padding-left: 1%;
    padding-top: 1.4%;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    right: 59.5%;
}
.olhoconfirmar{
    padding-left: 1%;
    padding-top: 1.4%;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    right: 59.5%;
}
#botao{
    border-radius: 20px;
    width: 200px; 
    height: 40px;
    background-color: #AFAFAF;
    color: #242424;
    cursor: pointer;
}
.espaco{
    padding-bottom: 91px;

}