/* HEADER TEM 15% */
body{
   font-family: 'Bebas Neue', sans-serif;
}
.facebook{
    width: 453px;
    height: 73px;
    margin-top: 15%;
    margin-left: 12%;
    margin-bottom: 63%;
    
   }
   .google{
    width: 436px;
    height: 73px;
    margin-top: 15%;
    margin-left: 11%;
    margin-bottom: 63%;
 
       
   }
  .container{
   display: flex;
   width: 85%;
  }

   .login{
    width: 259px;
    height: 69px;
    margin-top: -38%;
    margin-left: 23.5%;
    display: flex;
   }

   .cadastro{
    width: 262px;
    height: 69px;
    display: flex;
    margin-left: 120%;
   }

/*  JÁ POSSUI UMA CONTA?*/
   .conta{
    margin-left: 7%;
    margin-top: -5%;
    font-size: 34px;
    width: 500px;
    display: flex;

   }
   
/* AINDA NÃO É CADASTRADO? */
   .cadastrar{
    font-size: 34px;
    margin-top: -5%;
    margin-left: 4.5%;
    width: 500px;
   }

/* ADICIONAR FONTE AQUI  */
   /* .texto{ */

   /* } */

   .email{
    margin-top:  -4%;
    margin-left: 7.5%;
    height: 50px;
    display: flex;
   }

   .senha{
    margin-top:  4%;
    margin-left: 7.5%;
    height: 50px;
    display: flex;
   }

   .ofertas{
    margin-top: -4%;
    font-size: 20px;
    width: 600px;
   }

   .emailofertas{
    margin-top:  2.7%;
    margin-left: 4.7%;
    height: 50px;
    display: flex;
   }
   
   